<form>
  <h1>Create a Team and Heroes!</h1>
  <label for="team-name">Team Name:</label>
  <input type="text" id="team-name" name="team[name]" >
  <br>
  <label for="team-motto">Team Motto:</label>
  <input type="text" id="team-motto" name="team[motto]" >

  <h1>Hero 1</h1>
  <label for="hero1-name">Hero's Name:</label>
  <input type="text" id="hero1-name" name="team[heroes][][name]" >
  <label for="hero1-power">Hero's Power:</label>
  <input type="text" id="hero1-power" name="team[heroes][][power]" >
  <label for="hero1-bio">Hero's Biography:</label>
  <input type="text" id="hero1-bio" name="team[heroes][][biography]" >

  <h1>Hero 2</h1>
  <label for="hero2-name">Hero's Name:</label>
  <input type="text" id="hero1-name" name="team[heroes][][name]" >
  <label for="hero2-power">Hero's Power:</label>
  <input type="text" id="hero1-power" name="team[heroes][][power]" >
  <label for="hero2-bio">Hero's Biography:</label>
  <input type="text" id="hero1-bio" name="team[heroes][][biography]" >

  <h1>Hero 3</h1>
  <label for="hero3-name">Hero's Name:</label>
  <input type="text" id="hero1-name" name="team[heroes][][name]" >
  <label for="hero3-power">Hero's Power:</label>
  <input type="text" id="hero1-power" name="team[heroes][][power]" >
  <label for="hero3-bio">Hero's Biography:</label>
  <input type="text" id="hero1-bio" name="team[heroes][][biography]" >
</form>
