<form action="/teams" method="POST">
  <h1>Create a Team and Heroes!</h1>
  <label for="team-name">Team Name:</label>
  <input type="text" id="team-name" name="team[name]" >
  <br>
  <label for="team-motto">Team Motto:</label>
  <input type="text" id="team-motto" name="team[motto]" >


  <label for="hero1-name">Hero's Name:</label>
  <input type="text" id="hero1-name" name="team[members][][name]" ><br>
  <label for="hero1-power">Hero's Power:</label>
  <input type="text" id="hero1-power" name="team[members][][power]" ><br>
  <label for="hero1-bio">Hero's Biography:</label>
  <input type="text" id="hero1-bio" name="team[members][][biography]" ><br>


  <label for="hero2-name">Hero's Name:</label>
  <input type="text" id="hero1-name" name="team[members][][name]" ><br>
  <label for="hero2-power">Hero's Power:</label>
  <input type="text" id="hero1-power" name="team[members][][power]" ><br>
  <label for="hero2-bio">Hero's Biography:</label>
  <input type="text" id="hero1-bio" name="team[members][][biography]" ><br>


  <label for="hero3-name">Hero's Name:</label>
  <input type="text" id="hero1-name" name="team[members][][name]" ><br>
  <label for="hero3-power">Hero's Power:</label>
  <input type="text" id="hero1-power" name="team[members][][power]" ><br>
  <label for="hero3-bio">Hero's Biography:</label>
  <input type="text" id="hero1-bio" name="team[members][][biography]" ><br>

  <input type="submit" value="Submit">
</form>
