<form>
  <h1>Create a Team and Heroes!</h1>
  <label for="team-name">Team Name:</label>
  <input id="team-name" name="team[name]" >
  <label for="team-motto">Team Motto:</label>
  <input id="team-motto" name="team[motto]" >

  <h1>Hero 1</h1>
  <label for="team-name">Team Name:</label>
  <input id="team-name" name="name" >
  <label for="team-motto">Team Motto:</label>
  <input id="team-motto" name="name" >
  <h1>Hero 2</h1>

  <h1>Hero 3</h1>
</form>
