<form>
  <h1>Create a Team and Heroes!</h1>
  <label for="team-name">Team Name:</label>
  <input id="team-name" name="name" >
  <label for="team-motto">Team Motto:</label>
  <input id="team-motto" name="name" >
</form>
